* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* *::-webkit-scrollbar {
    width: 14px;
    color: red;
    background-color: red;
}

*::-webkit-scrollbar-track { 

    display: none;

}  */

/* *::-webkit-scrollbar-track { */

/* -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3); */

/* background-color: transparent; */

/* border: transparent; */

/* -webkit-box-shadow: none;

} */

/* *::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 7px;
    box-shadow: inset 0 0 0 10px;
} */

/* QUITA LA BARRA DE DESPLAZAMIENTO */

/* *::-webkit-scrollbar
{
    width: 0px;
}
*::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
} */
